body {
  background-color: #282c34;
  color: white;
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 50px;
  font-family: Arial;
  text-align: left;
}


.preview {
 
    width: 400px;
    background: aqua;
    padding: 15px;
    color: blue;
    }
.newProduct {
 
    background: lightgray;
    color: navy;
    width: 400px;
    padding: 15px;
      
}
.mainList {
  background: navy;
    color:white;
    width: 400px;
    padding: 15px;

}

